In [44]:
import pandas as p

In [45]:
dataset=p.read_csv('C:/Users/91949/Desktop/4 th year project/weblog.csv')

In [46]:
dataset

,IP,Time,URL,Status
0,10.128.2.1,[29/Nov/2017:06:58:55,GET /login.php HTTP/1.1,200
1,10.128.2.1,[29/Nov/2017:06:59:02,POST /process.php HTTP/1.1,302
2,10.128.2.1,[29/Nov/2017:06:59:03,GET /home.php HTTP/1.1,200
3,10.131.2.1,[29/Nov/2017:06:59:04,GET /js/vendor/moment.min.js HTTP/1.1,200
4,10.130.2.1,[29/Nov/2017:06:59:06,GET /bootstrap-3.3.7/js/bootstrap.js HTTP/1.1,200
...,...,...,...,...
15783,10.130.2.1,[02/Mar/2018:15:47:12,GET /showcode.php?id=309&nm=ham05 HTTP/1.1,200
15784,10.130.2.1,[02/Mar/2018:15:47:23,GET /allsubmission.php HTTP/1.1,200
15785,10.130.2.1,[02/Mar/2018:15:47:32,GET /showcode.php?id=309&nm=ham05 HTTP/1.1,200
15786,10.130.2.1,[02/Mar/2018:15:47:35,GET /allsubmission.php HTTP/1.1,200
15787,10.130.2.1,[02/Mar/2018:15:47:46,GET /home.php HTTP/1.1,200

In [47]:
dataset=p.read_csv('C:/Users/91949/Desktop/4 th year project/weblog.csv',index_col=0)
dataset

,Time,URL,Status
IP,,,
10.128.2.1,[29/Nov/2017:06:58:55,GET /login.php HTTP/1.1,200
10.128.2.1,[29/Nov/2017:06:59:02,POST /process.php HTTP/1.1,302
10.128.2.1,[29/Nov/2017:06:59:03,GET /home.php HTTP/1.1,200
10.131.2.1,[29/Nov/2017:06:59:04,GET /js/vendor/moment.min.js HTTP/1.1,200
10.130.2.1,[29/Nov/2017:06:59:06,GET /bootstrap-3.3.7/js/bootstrap.js HTTP/1.1,200
...,...,...,...
10.130.2.1,[02/Mar/2018:15:47:12,GET /showcode.php?id=309&nm=ham05 HTTP/1.1,200
10.130.2.1,[02/Mar/2018:15:47:23,GET /allsubmission.php HTTP/1.1,200
10.130.2.1,[02/Mar/2018:15:47:32,GET /showcode.php?id=309&nm=ham05 HTTP/1.1,200
10.130.2.1,[02/Mar/2018:15:47:35,GET /allsubmission.php HTTP/1.1,200
10.130.2.1,[02/Mar/2018:15:47:46,GET /home.php HTTP/1.1,200

In [48]:
dataset.columns

Index(['Time', 'URL', 'Status'], dtype='object')

In [49]:
dataset.describe()

             Status
count  15788.000000
mean     230.196605
std       50.059544
min      200.000000
25%      200.000000
50%      200.000000
75%      302.000000
max      404.000000

In [50]:
dataset.dtypes

Time      object
URL       object
Status     int64
dtype: object

In [51]:
dataset.Status

IP
10.128.2.1    200
10.128.2.1    302
10.128.2.1    200
10.131.2.1    200
10.130.2.1    200
             ...
10.130.2.1    200
10.130.2.1    200
10.130.2.1    200
10.130.2.1    200
10.130.2.1    200
Name: Status, Length: 15788, dtype: int64

In [52]:
dataset.Status.dtype

dtype('int64')

In [53]:
dataset.head()

,Time,URL,Status
IP,,,
10.128.2.1,[29/Nov/2017:06:58:55,GET /login.php HTTP/1.1,200
10.128.2.1,[29/Nov/2017:06:59:02,POST /process.php HTTP/1.1,302
10.128.2.1,[29/Nov/2017:06:59:03,GET /home.php HTTP/1.1,200
10.131.2.1,[29/Nov/2017:06:59:04,GET /js/vendor/moment.min.js HTTP/1.1,200
10.130.2.1,[29/Nov/2017:06:59:06,GET /bootstrap-3.3.7/js/bootstrap.js HTTP/1.1,200

In [54]:
dataset.tail()

,Time,URL,Status
IP,,,
10.130.2.1,[02/Mar/2018:15:47:12,GET /showcode.php?id=309&nm=ham05 HTTP/1.1,200
10.130.2.1,[02/Mar/2018:15:47:23,GET /allsubmission.php HTTP/1.1,200
10.130.2.1,[02/Mar/2018:15:47:32,GET /showcode.php?id=309&nm=ham05 HTTP/1.1,200
10.130.2.1,[02/Mar/2018:15:47:35,GET /allsubmission.php HTTP/1.1,200
10.130.2.1,[02/Mar/2018:15:47:46,GET /home.php HTTP/1.1,200

In [55]:
dataset.Status

IP
10.128.2.1    200
10.128.2.1    302
10.128.2.1    200
10.131.2.1    200
10.130.2.1    200
             ...
10.130.2.1    200
10.130.2.1    200
10.130.2.1    200
10.130.2.1    200
10.130.2.1    200
Name: Status, Length: 15788, dtype: int64

In [56]:
dataset.shape

(15788, 3)